@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: #dcf0f1;
	padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
	cursor: pointer;
}


* {
	font-family: 'Lato', sans-serif;
}

*:focus {
    outline: 0;
}

.content-pane {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	left: 200px;
	width: calc(100% - 200px);
	border: 0px;
	overflow-y: auto;
	overflow-x: auto;
	min-width: 1000px;
}

.nav {
	position: fixed;
	left: 0px;
	height: 100%;
	top: 0px;
	width: 200px;
	background: #335;
	overflow-y: auto;
	z-index: 3;
}

.nav > .logo {
	position: relative;
	height: 47px;
	background: rgba(255, 255, 255, .1);
	font-weight: 700;
	font-size: 36px;
	padding: 4px;
	padding-left: 28px;
	color: white;
}

.nav > .logo > i {
	position: absolute;
	right: 11px;
	top: 11px;
	background: rgba(0, 0, 0, .2);
	padding: 8px;
	font-size: 18px;
}

.nav > .tab {
	position: relative;
	height: 30px;
	color: white;
	padding: 3px;
	padding-left: 30px;
	color: rgba(255, 255, 255, .4);
}

.nav > .label {
	position: relative;
	padding-bottom: 12px;
	padding-left: 30px;
	color: rgba(255, 255, 255, .4);
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: underline;
}

.nav > .tab:hover {
	color: white;
	cursor: pointer;
}

.nav > .selected {
	color: white;
}










/*
*
*/

.page-header {
	position: relative;
	left: 0px;
	width: 100%;
	top: 0px;
	height: 55px;
	background: #fafafa;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .04);
	z-index: 2;
}

	.page-header > .header-text {
		font-size: 26px;
		font-weight: 700;
		position: relative;
		top: 10px;
		left: 20px;
		float: left;
		margin-right: 36px;
	}

	.page-header > .action {
		float: left;
		position: relative;
		width: 60px;
		height: 100%;
		text-align: center;
	}
	
	.page-header > .action:hover {
		background: rgba(0, 0, 0, .08);
		cursor: pointer;
	}
	
	.page-header > .action > i {
		font-size: 20px;
		color: rgba(0, 0, 0, .2);
		position: relative;
		top: 16px;
	}

.experiments-list {
	position: relative;
	width: calc(100% - 20px);
	left: 10px;
	top: 10px;
	text-align: center;
}

.experiments-list > .experiment {
	background: #fafafa;
	height: 300px;
	margin: 8px;
	display: inline-block;
	width: calc(33% - 15px);
	min-width: 300px;
	float: left;
}

	.no-experiments:hover {
		cursor: pointer;
	}

	.no-experiments > i {
		font-size: 64px;
		color: rgba(0, 0, 0, .2);
	}

@media (max-width: 1010px) {
	.experiments-list > .experiment {
		width: 48%;
	}
}

@media (max-width: 840px) {
	.experiments-list > .experiment {
		width: 97%;
	}
}

.experiments-list > .experiment > .experiment-name {
	position: relative;
	width: 100%;
	left: 0px;
	height: 90px;
	font-size: 24px;
	padding-top: 60px;
	background: #27ae60;
	font-weight: bold;
	color: white;
}

.experiments-list > .experiment > .experiment-name:hover {
	cursor: pointer;
}


/* Should be no longer than 80 characters. */
.experiments-list > .experiment > .description {
	left: 15px;
	width: calc(100% - 30px);
	position: relative;
	text-align: left;
	top: 16px;
}

.experiments-list > .experiment > .reg-url {
	position: relative;
	top: 100px;
	margin-left: 15px;
	font-size: 12px;
	text-align: left;
}

.experiments-list > .experiment > .reg-url > a {
	color: #222;
	text-decoration: none;
	font-weight: bold;
}



/*
*	New Experiment
*/

.new-form-container {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
}

.new-form-container > .new-form {
	position: relative;
	left: 40px;
}

input[type], textarea {
	font-weight: 300;
	padding: 8px;
	font-size: 16px;
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	background: none;
	width: 400px;
	margin-bottom: 3px;
	resize: none;
}

.form-label {
	font-size: 11px;
	font-weight: bold;
	color: rgba(41, 128, 185, .6);
	text-transform: uppercase;
	display: none;
	position: relative;
	top: 5px;
}

input[type='submit'], button {
	padding: 8px;
	padding-left: 12px;
	background: #2980b9;
	color: #ecf0f1;
	text-transform: uppercase;
	border: none;
	border-radius: 2px;
}

input[type='submit']:hover, button:hover {
	cursor: pointer;
}


/***********************************************************
*
*						auth/index.php
*
************************************************************/

.auth-body {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #16a085;
	background-image: url('http://www.psdgraphics.com/file/colorful-triangles-background.jpg');
}

.welcome-box {
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 400px);
	height: 500px;
	width: 800px;
	background: #335;
}

.welcome-box > .info {
	position: absolute;
	left: 50px;
	top: 0px;
	width: 360px;
	text-align: center;
	padding-top: 30px;
	height: calc(100% - 30px);
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
}

.welcome-box > .register-box {
	position: absolute;
	right: 40px;
	width: 300px;
	top: -10px;
	height: calc(100% + 20px);
	background: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
	text-align: center;
}

.welcome-box > .register-box > .register-form > input {
	font-weight: 300;
	padding: 8px;
	font-size: 16px;
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	background: none;
	margin-bottom: 3px;
	width: 74%;
}

.welcome-box > .register-box > .register-form > input[type='submit'] {
	background: #27ae60;
	color: #fff;
	width: 80%;
	font-size: 22px;
	padding: 12px;
}

.welcome-box > .register-box > .register-form > input[type='submit']:hover {
	cursor: pointer;
}

.login-error {
	display: none;
	color: #e74c3c;
}

.existing-account {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-size: 15px;
	border-top: 1px solid rgba(0, 0, 0, .12);
}


/***********************************************************
*
*					admin/experiment.php
*
************************************************************/

.experiment-details-pane {
	position: absolute;
	left: 22px;
	top: 80px;
	background: #fafafa;
	border: 2px solid rgba(0, 0, 0, .08);
	padding: 10px;
}

.experiment-sessions-pane {
	position: absolute;
	left: 490px;
	top: 80px;
	background: #fafafa;
	border: 2px solid rgba(0, 0, 0, .08);
	height: calc(100% - 130px);
	width: calc(100% - 540px);
	overflow: hidden;
}

.experiment-sessions-pane > .sessions-list {
	position: relative;
	top: 0px;
	height: 100%;
	padding: 10px;
	overflow-y: auto;
	background: rgba(0, 0, 0, .1);
}

.sessions-list > .session {
	position: relative;
	display: block;
	width: calc(100% - 20px);
	left: 10px;
	height: 200px;
	background: #efefef;
	margin-bottom: 20px;
	margin-top: 10px;
}

.sessions-list > .session:hover {
	cursor: pointer;
}

	.session > .session-date {
		position: relative;
		top: 16px;
		left: 16px;
		font-weight: 700;
		font-size: 18px;
	}
	
	.session > .timeframe {
		position: relative;
		top: 28px;
		left: 16px;
	}
	
	.session > .lab-name {
		position: relative;
		font-weight: bold;
		font-size: 36px;
		top: 30px;
		left: 16px;
	}
	
	.session > .lab-notes {
		position: relative;
		top: 34px;
		left: 16px;
		max-width: 50%;
		max-height: 70px;
		overflow-y: auto;
		color: rgba(0, 0, 0, .6);
	}
	
	.session > .users {
		position: absolute;
		right: 16px;
		top: 36px;
		text-align: center;
		width: 100px;
	}
	
		.users > .num {
			font-weight: 700;
			color: #3A539B;
		}
		
	.session > .reserve {
		position: absolute;
		right: 16px;
		top: 140px;
		width: 100px;
		text-align: center;
	}
	
		.reserve > .num {
			font-weight: 700;
		}
		

	
.sessions-list > .participant {
	position: relative;
	width: 100%;
	padding: 6px;
}

	.participant > td, .sessions-list > thead > tr > th {
		padding: 6px;
		text-align: left;
	}
	
	.participant > td {
		border-bottom: 1px solid rgba(0, 0, 0, .06);
	}

	.participant > td > input, .sessions-list > thead > tr > th > input {
		width: 30px;
	}
	

.documents-list > .document {
	padding: 6px;
	margin: 10px;
	background: rgba(0, 0, 0, .04);
}	

	.document > a {
		text-decoration: none;
	}
	

	
/***********************************************************
*
*					admin/participant_overview.php
*
************************************************************/
	
.all-participants {
	border-collapse: collapse;
}
	
.all-participants td {
	padding: 6px;
}

.all-participants tr {
	border-bottom: 1px solid rgba(0, 0, 0, .04);
}
	
.all-participants th {
	text-align: left;
	padding: 6px;
}

.edit-participant:hover {
	cursor: pointer;
	border-left: 6px solid #3498db;
	background: rgba(0, 0, 0, .02);
}
	
	
	
		
/***********************************************************
*
*					admin/participant_attributes.php
*
************************************************************/

.custom-attributes {
	position: relative;
	left: 40px;
}

	.custom-attributes td {
		padding: 6px;
	}

	.custom-attributes .attribute-name {
		font-weight: bold;
	}




/**********************************************************
*
*				admin/participant.php
*
***********************************************************/

.pre-confirm { 
	position: relative;
	width: 50%;
	background: none;
	border: 1px solid #e74c3c;
	color: #e74c3c;
}

.post-confirm {
	position: relative;
	width: 50%;
	background: #e74c3c;
	border: 1px solid #e74c3c;
	color: white;
}


















